<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Sentiment Analysis App</h1>
        <form action="/results" method="post">
            <label for="start_date">Start Date:</label>
            <input type="date" id="start_date" name="start_date" required><br>
            <label for="end_date">End Date:</label>
            <input type="date" id="end_date" name="end_date" required><br>
            <label for="news_source">News Source:</label>
            <input type="text" id="news_source" name="news_source"><br>
            <label for="subject">Subject:</label>
            <input type="text" id="subject" name="subject" required><br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
